@import "tailwindcss";

html,body, #root{
    @apply w-full;
}
body{    
  background-color: var(--background);
}

h2{
  align-self: self-start;
  display: inline-block;
  margin-bottom: 20px;
}

input{
  border: 1px solid var(--primary);
}