div:has(table) {
    width: 100%;
}

table {
    width: 100%;
    /* display: block; */
}

table thead,
tbody {
    background-color: var(--surface);
    width: 100%;
    /* display: block; */
}

table thead {
    margin-bottom: 10px;
}

table td,
th {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid var(--secondary);
}

tbody tr {
    cursor: pointer;
}


.table_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table_actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input {
    background-color: var(--surface);
    border: 1px solid var(--secondary);
    border-radius: var(--radius-sm);
}

input.search_input {
    text-align: right;
    padding: 4px 12px;
    background-image: url("/src/assets/search_icon.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    width: 32px;
    transition: width 0.5s ease-in-out;
}
input.search_input:hover {
    cursor: pointer;
}

input.search_input.expanded {
    width: 100%;

}

input.search_input.expanded::placeholder {
    color: var(--text);
}

input.search_input:not([value=""]) {
     background-image: none;
      width: 100%;
}

.filter_button {
    background-color: var(--surface);
    border: 1px solid var(--secondary);
    border-radius: var(--radius-sm);
    padding: 4px;
    margin-left: 10px;
    width: 220px;
}
.filter_button:hover {
    cursor: pointer;
}
.filter_dropdown{
    display: block;
}

.filter_dropdown.filter_opened{
    display: block;
}